[submodule "mahjong-back"]
	path = mahjong-back
	url = https://github.com/jthistle/mahjong-back.git
[submodule "mahjong-front"]
	path = mahjong-front
	url = https://github.com/jthistle/mahjong-front.git
